name: Deploy GitHub pages PR preview

on:
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write
  pull-requests: write

concurrency:
  group: "preview-${{ github.head_ref }}"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./
          destination: ./_site
      # - name: Upload artifact
      #   uses: actions/upload-pages-artifact@v3
      #   with:
      #     name: github-pages
      #     path: ./_site
      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: ./_site

  preview:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: github-pages
          path: ./_site
      # - name: Extract artifact
      #   run: |
      #     tar -xf _site/artifact.tar -C _site
      - name: Deploy PR Preview
        uses: rossjrw/pr-preview-action@v1
        with:
          token: ${{ secrets.FORK_TOKEN }}
          source-dir: ./_site
          custom-url: livepeer.cool
